<%- await include("src/views/partials/head.ejs")%>

<body>
  <% for (let survey of surveys) { %>
    <div>
      <a href="/survey/<%= survey._id %>"><%= survey.name %></a>
      <p><%= survey.desc %></p>
    </div>
  <% } %>
</body>

</html>